spring.application.name=backend
server.port=9000

# Configuración de la DB
spring.datasource.url=jdbc:mariadb://localhost:3306/db
spring.datasource.username=root
spring.datasource.password=changeme
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver

# Configuración de JPA
spring.jpa.database-platform=org.hibernate.dialect.MariaDBDialect
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# DevTools
spring.devtools.restart.enabled=true

# Configuraciión para JWT
jwt.secret=mySecret
jwt.expiration=86400000