name: Generate Changelog, Release and Docker images

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    outputs:
      new_release_published: ${{steps.semantic-release.outputs.new_release_published}}
      release_version: ${{steps.semantic-release.outputs.new_release_version}}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Semantic Release
        id: semantic-release
        uses: cycjimmy/semantic-release-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            conventional-changelog-conventionalcommits

  docker:
    needs: [release]
    if: needs.release.outputs.new_release_published == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract backend metadata
        id: backend-meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}-backend
          tags: |
            type=semver,pattern={{version}}
            type=raw,value=latest,enable=${{ github.ref_name == github.event.repository.default_branch }}

      - name: Build and push backend image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          tags: |
            ghcr.io/${{github.repository}}-backend:${{ needs.release.outputs.release_version }}
            ghcr.io/${{github.repository}}-backend:latest
          labels: ${{ steps.backend-meta.outputs.labels }}

      - name: Extract frontend metadata
        id: frontend-meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}-frontend
          tags: |
            type=semver,pattern={{version}}
            type=raw,value=latest,enable=${{ github.ref_name == github.event.repository.default_branch }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          tags: |
            ghcr.io/${{github.repository}}-frontend:${{ needs.release.outputs.release_version }}
            ghcr.io/${{github.repository}}-frontend:latest
          labels: ${{ steps.frontend-meta.outputs.labels }}
